
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


#container {
    width: 20%;
    height: 500px;
    overflow: scroll;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 130px solid blue;
}

.upsidedowntriangle {
    width: 0;
    height: 0;
    margin-top: 20px;
    border-top: 130px solid rgb(35, 35, 167);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
}

.angleright {
    width: 0;
    height: 0;
    margin-top: 2px;
    border-top: 80px solid transparent;
    border-left: 130px solid rgb(97, 97, 243);
    border-bottom: 80px solid transparent;
}

.angleleft {
    width: 0;
    height: 0;
    margin-top: 2px;
    border-top: 80px solid transparent;
    border-right: 130px solid rgb(38, 38, 98);
    border-bottom: 80px solid transparent;
}

#container1 {
    width: 20%;
    height: 500px;
    overflow: scroll;
}

/* .star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid slateblue;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
  }

.star-five:before {
    border-bottom: 80px solid slateblue;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }

.star-five:after {
    position: absolute;
    display: block;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid slateblue;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  } */

  .padlock {
    margin-top: 120px;
    position: relative;
}

.padlock .before {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: transparent;
    border: 20px solid skyblue;
    position: absolute;
    margin-left: 20px;
    margin-top: -60px;
}

.padlock .after {
    width: 150px;
    height: 90px;
    background-color: skyblue;
    border-radius: 30px;
    margin-top: 70px;
}

.after .after1 {
    width: 25px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    margin: 25px  0 0 60px;
    
}

.search {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px solid steelblue;
    margin-top: 30px;
}

.search .before {
    width: 20px;
    height: 80px;
    margin-left: 100px;
    margin-top: 85px;
    background-color: steelblue;
    transform: rotate(-45deg);
}

#container2 {
    width: 20%;
    height: 500px;
    overflow: scroll;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: turquoise;
    margin-bottom: 20px;
}

#circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

#circle #angle {
    width: 0;
    height: 0;
    border-top: 75px solid rgba(35, 35, 167, 0.719);
    border-bottom: 75px solid blue;
    border-left: 75px solid rgba(10, 10, 151, 0.466);
    border-right: 75px solid rgba(0, 191, 255, 0.719);
}

.heart {
    display: flex;
    position: relative;
    margin-left: 70px;
    margin-bottom: 40px;
}

.heart .before, .heart .after {
    width: 80px;
    height: 140px;
    background-color: teal;
    border-radius: 50px 50px 0 0;
    transform: rotate(45deg);
}

.heart .before {
    transform: rotate(-46deg);
    margin-left: -45px;
    position: absolute;
}

.mob {
    width: 150px;
    height: 150px;
    background-color: navy;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-top: 20px;
}

.mob #one, .mob #two, .mob #three {
    width: 33.33%;
    height: 100%;
}

#one {
    background-color: teal;
}

#three {
    background-color: skyblue;
}

.mob2 {
    width: 150px;
    height: 150px;
    background-color: skyblue;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-top: 20px;
}

.mob2 .one, .mob2 .two, .mob2 .three {
    width: 100%;
    height: 50px;
}

.one {
    background-color: rgb(64, 107, 224);
}

.three {
    background-color: rgb(2, 2, 85);
}

#container3 {
    width: 20%;
    height: 500px;
    overflow: scroll;
}

.square {
    width:150px; 
    height:150px; 
    background: royalblue;
}

.angle {
    width: 0;
    height: 0;
    border-top: 75px solid rgba(35, 35, 167);
    border-bottom: 75px solid blue;
    border-left: 75px solid rgb(3, 3, 122);
    border-right: 75px solid deepskyblue;
    margin-top: 30px;
}

.rectangle {
    width:250px; 
    height:150px; 
    background: dodgerblue;
    margin-top: 30px;
}





